<div>
  <h2>Add Product</h2>
  <hr />
  <!-- {{ productForm.value | json }} -->
  <hr />
  <form [formGroup]="productForm">
    <div class="form-group">
      <input
        formControlName="name"
        type="text"
        class="form-control"
        placeholder="Product Name"
      />
      <div
        class="alert alert-danger m-4"
        *ngIf="
          productForm.controls.name.invalid && productForm.controls.name.touched
        "
      >
        Product Name is required
      </div>
    </div>
    <div class="form-group">
      <input
        formControlName="qty"
        type="number"
        class="form-control"
        placeholder="Product Quantity"
      />
      <div
        class="alert alert-danger m-4"
        *ngIf="
          productForm.controls.qty.invalid && productForm.controls.qty.touched
        "
      >
        Product Quantity is required
      </div>
    </div>
    <div class="form-group">
      <input
        formControlName="price"
        type="number"
        class="form-control"
        placeholder="Product Price"
      />
      <div
        class="alert alert-danger m-4"
        *ngIf="
          productForm.controls.price.invalid &&
          productForm.controls.price.touched
        "
      >
        Product price is required
      </div>
    </div>
    <div class="form-group">
      <input
        formControlName="partNumber"
        type="text"
        class="form-control"
        placeholder="Product PartNumber"
      />
    </div>
    <div class="form-group">
      <input
        formControlName="dimension"
        type="text"
        class="form-control"
        placeholder="Product Dimension"
      />
    </div>
    <div class="form-group">
      <input
        formControlName="weight"
        type="number"
        class="form-control"
        placeholder="Product Weight"
      />
    </div>
    <div class="form-group">
      <input
        formControlName="manufacturer"
        type="text"
        class="form-control"
        placeholder="Product Manufacturer"
      />
    </div>
    <div class="form-group">
      <input
        formControlName="origin"
        type="text"
        class="form-control"
        placeholder="Product Origin"
      />
    </div>
  </form>

  <div *ngIf="errors">
    <hr />
    <p class="alert alert-danger">
      {{ errors | json }}
    </p>
    <hr />
  </div>

  <button
    type="submit"
    class="btn btn-primary m-2"
    [disabled]="productForm.invalid"
    (click)="submitForm()"
  >
    Save
  </button>
  <button
    [disabled]="productForm.invalid"
    type="submit"
    class="btn btn-danger m-2"
    (click)="resetForm()"
  >
    Cancel
  </button>

  <!-- <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Example select</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Example multiple select</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
  </form> -->
</div>
