<div class="title">
  <h2>{{ title }}</h2>
</div>
<form [formGroup]="authForm">
  <div class="form-group">
    <input
      formControlName="email"
      type="text"
      class="form-control"
      placeholder="Email"
    />
    <div
      class="alert alert-danger m-4"
      *ngIf="authForm.controls.email.invalid && authForm.controls.email.touched"
    >
      Email is required
    </div>
  </div>
  <div class="form-group">
    <input
      formControlName="password"
      type="text"
      class="form-control"
      placeholder="Password"
    />
    <div
      class="alert alert-danger m-4"
      *ngIf="
        authForm.controls.password.invalid && authForm.controls.password.touched
      "
    >
      Email is required
    </div>
  </div>
  <button
    class="btn btn-primary"
    (click)="submitForm()"
    *ngIf="title === 'Login'"
  >
    Login
  </button>
  <button
    class="btn btn-primary"
    (click)="submitForm()"
    *ngIf="title === 'Signup'"
  >
    Signup
  </button>
</form>
