<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Qty</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <td>{{ prod.id }}</td>
        <td>{{ prod.name }}</td>
        <td>{{ prod.qty }}</td>
        <td>{{ prod.price }}</td>
        <td>
          <button class="btn btn-primary" (click)="editProduct(prod.id)">
            Edit
          </button>
          <button
            style="margin-left: 25px"
            class="btn btn-primary"
            (click)="deleteProduct(prod.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary mt-4" routerLink="/products/add">
    Add Product
  </button>
</div>
